html,
body {
  height: 500px;
  width: 500px;
}

.popup-content {
  height: 100%;
  width: 100%;
  background: #646464;
}

.navbar {
  display: block;
  text-align: center;
  background: #643764;
}

.nav-link {
  font-size: 2em;
  color: #FFFFFF;
  background: #643764;
}

.nav-link:hover {
  transition: all 0.1s;
  color: #FFFFFF;
  background: #555555
}


.tab-list {
  margin: 2%;
  padding: 1%;
}

.tab-listing {
  padding: 0%;
  border-color: #BBBBBB;
  background: #646464;
  color: #BBBBBB;
}

.tab-listing:hover {
  transition: background 0.05s;
  background: #555555;
}

.tab-listing-content {
  height: 100%;
  width: 100%;
}

.tab-left-section {
  height: 100%;
  width: 100%;
}

.tab-text {
  margin: 0% 0% 0% 5%;
  height: 100%;
  font-size: 2.3rem;
  font-weight: 340;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tab-right-section {
  height: 100%;
  width: 100%;
}

.tab-options {
  height: 100%;
  widows: 100%;
}

.tab-button:hover {
  transition: all 0.2s;
  color: #FFFFFF !important;
}
