html,
body {
  height: 500px;
  width: 500px;
}

.popup-content {
  height: 100%;
  width: 100%;
  background: #646464;
}

.navbar {
  display: block;
  text-align: center;
  background: #643764;
}

.nav-link {
  font-size: 2em;
  color: #FFFFFF;
  background: #643764;
}

.nav-link:hover {
  color: #FFFFFF;
  background: #555555
}


/* .nav-button {
  padding: 1px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
} */

.tab-list {
  margin: 2%;
  padding: 1%;
}

.tab {
  margin: 0%;
}

.tab-text {
  font-size: 2em;
}

.tab-options {
  margin-top: 0%;
  margin-bottom: 0%;
  height: 100%;
  font-size: 1.5em;
  color: #FFFFFF;
}

/* .tab-options {
  white-space: nowrap;
  justify-content: right;
  text-align: right;
} */

/* .button {
  height: 100%;
  width: auto;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
  font-size: 2em;
  background-color: #555555;
  cursor: pointer;
} */

/* .close-button:hover {
  background-color: #770022;
}

.closesave-button:hover {
  background-color: #609560;
}

.dismiss-button:hover {
  background-color: #333333;
} */