html,
body {
  height: 42em;
  width: 42em;
  overflow: hidden;
}

.tooltip.bs-tooltip-right .arrow:before {
  border-right-color: #441744;
}

.tooltip.bs-tooltip-left .arrow:before {
  border-left-color: #441744;
}

.tooltip.bs-tooltip-bottom .arrow:before {
  border-bottom-color: #441744;
}

.tooltip.bs-tooltip-top .arrow:before {
  border-top-color: #441744;
}

.tooltip-inner {
  background: #643764;
  border: 1px solid #441744;
}

.popup-content {
  height: 100%;
  width: 100%;
  background: #646464;
}

.navbar {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #643764;
}

.nav-link {
  font-size: 2em;
  color: #FFFFFF;
  background: #643764;
}

.nav-link:hover {
  transition: all 0.1s;
  color: #FFFFFF;
  background: #555555
}


.tab-list-container {
  width: 100%;
  height: 88%;
  overflow-x: hidden;
  overflow-y: auto;
}

.tab-list {
  margin: 2%;
  padding: 1%;
}

.tab-listing {
  overflow: hidden;
  transition: max-height 0.25s ease-in;
  max-height: 50px;
  margin: 0%;
  padding: 0%;
  border-color: #BBBBBB;
  background: #646464;
  color: #BBBBBB;
}

.tab-listing:hover {
  transition: all 0.05s;
  background: #565656;
  border-color: #8a208a;
  /* border-color: #992323; */
}

.tab-listing.removed {
  transition: all 0.25s ease-out;
  max-height: 0px;
  border-top: none;
  border-bottom: none;
}

.tab-listing-content {
  height: 100%;
  width: 100%;
}

.tab-left-section {
  height: 100%;
  width: 100%;
}

.tab-text {
  margin: 0% 2% 0% 5%;
  height: 100%;
  font-size: 2.3rem;
  font-weight: 340;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  margin: 20% 2% 5% 15%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tab-right-section {
  height: 100%;
  width: 100%;
}

.tab-options {
  height: 100%;
  width: 100%;
}

.tab-button:hover {
  transition: all 0.2s;
  color: #FFFFFF !important;
}