html,
body {
    height: 42em;
    width: 42em;
    overflow: hidden;
}

@font-face {
    font-family: 'Avenir-R';
    src: url('../shared/assets/avenir-roman.otf') format('opentype'),
        url('../shared/assets/avenir-roman.woff2') format('woff2');
    /* Pretty Modern Browsers */
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #441744;
}

.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #441744;
}

.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #441744;
}

.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #441744;
}

.tooltip-inner {
    background: #643764;
    border: 1px solid #441744;
}

.popup-content {
    height: 100%;
    width: 100%;
    background: #d6d8d9;
}

.navbar {
    background: #643764;
}

.nav-brand {
    padding-top: 0.05em;
    flex-direction: column;
    text-align: left;
    font-size: large;
}

.logo {
    position: relative;
    top: -0.15em;
}

.nav-item:not(:first-child) {
    margin-left: 2%;
}

.nav-font {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Candara, sans-serif;
    font-size: medium;
    color: #9fcdff;
}

.nav-font-bond {
    font-family: Avenir-R, sans-serif;
    font-size: 2.0rem;
    font-weight: bold;
    color: #a9a9a9;
    background: #643764;
}

.view-option {
    transition: all 0.2s;
    box-shadow: 0.05em 0.05em 0.1em #000000;
    color: #FFFFFF !important;
    background: #643764;
    border: 1px solid #441744;
    cursor: pointer;
}

.view-option.active-view {
    border-color: #BBBBBB;
    background: #484848;
}

.view-option:hover {
    border-color: #FFFFFF;
    background: #555555;
}

.popup-view {
    overflow: hidden;
    transition: max-width 0.5s ease-in;
    max-width: 42em;
}

.popup-view.removed {
    transition: max-width 0.5s ease-out;
    max-width: 0px;
}

.popup-view.removed .tab-list-container {
    overflow-y: hidden;
}

.nav-link {
    font-size: 2em;
    color: #FFFFFF;
    background: #643764;
    font-size: 2em;
    color: #FFFFFF;
    margin-top: 10%;
}

.nav-link:hover {
    transition: all 0.1s;
    color: #FFFFFF;
    background: #555555;
    color: #FFFFFF;
}

.tab-list-container {
    width: 100%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
}

.tab-list {
    margin: 1% 1.5% 0% 1%;
}

.tab-listing {
    overflow: hidden;
    transition: max-height 0.25s ease-in;
    transition: background 0.25s;
    transition: border 0.25s;
    max-height: 3.5em;
    padding: 0%;
    transition: background 0.05s;
    transition: border-color 0.05s;
    border-color: #BBBBBB;
    background: #646464;
    box-shadow: 3px 3px 5px #000000;
    color: #BBBBBB;
}

.tab-listing:not(:first-child) {
    margin-top: 2%;
}

.tab-padding {
    overflow: hidden;
    transition: max-height 0.25s ease-in;
    max-height: 3.5em;
    margin: 1% 2% 0% 1%;
    visibility: hidden;
}

.tab-listing:hover {
    background: #565656;
    border-color: #8a208a;
    /* border-color: #992323; */
}

.tab-listing.removed {
    transition: all 0.25s ease-out;
    max-height: 0px;
    border-top: none;
    border-bottom: none;
}

.tab-listing-content {
    height: 100%;
    width: 100%;
}

.tab-icon-section {
    height: 100%;
    width: 100%;
}

.icon {
    margin: 20% 2% 5% 15%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tab-left-section {
    height: 100%;
    width: 100%;
}

.tab-text {
    margin: 0% 2% 0% 5%;
    height: 100%;
    font-size: 2.0rem;
    font-weight: 340;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tab-middle-section {
    height: 100%;
}

.tab-categories {
    height: 100%;
    width: 100%;
}

.tab-category-row {
    height: 35%;
}

.tab-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 17%;
    color: #000000;
}

.tab-category.large {
    margin-left: 0%;
    margin-top: 27%;
    font-size: 1.8rem
}

.tab-category.adults {
    background: rgb(255, 35, 156);
}

.tab-category.arts {
    background: rgb(192, 192, 16);
}

.tab-category.business {
    background: #FFFFFF;
}

.tab-category.computers {
    background: #FFFFFF;
}

.tab-category.games {
    background: #FFFFFF;
}

.tab-category.health {
    background: rgb(255, 0, 0);
}

.tab-category.news {
    background: #FFFFFF;
}

.tab-category.recreation {
    background: #FFFFFF;
}

.tab-category.education {
    background: #FFFFFF;
}

.tab-category.science {
    background: #008800;
}

.tab-category.shopping {
    background: #FFFFFF;
}

.tab-category.sports {
    background: #FFFFFF;
}

.icon {
    margin: 20% 2% 5% 15%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tab-right-section {
    height: 100%;
    width: 100%;
}

.tab-options {
    height: 100%;
    width: 100%;
}

.tab-button:hover {
    transition: all 0.2s;
    color: #FFFFFF !important;
}

.bookmark-list-container {
    width: 100%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
}

.bookmark-listing {
    overflow: none;
    border-color: #BBBBBB;
    background: #646464;
    box-shadow: 3px 3px 5px #000000;
    color: #BBBBBB;
}

.bookmark-listing:hover {
    transition: border-color 0.2s;
    border-color: #8a208a;
}

.bookmark-listing:not(:first-child) {
    margin-top: 2%;
}

.bookmark-category-header:hover {
    cursor: pointer;
}

.bookmark-category-header:hover .bookmark-toggle-collapse-icon {
    color: #FFFFFF;
}

.bookmark-category-symbol {
    font-size: x-large;
}

.bookmark-category-title {
    font-size: 2.0rem;
    font-weight: 340;
}

.bookmark-url-list {
    overflow-x: none;
    overflow-y: auto;
    transition: max-height 0.2s;
    max-height: 20em;
}

.bookmark-url-list.removed {
    max-height: 0px;
}

.bookmark-url-listing {
    transition: background 0.2s;
    background: #d6d8d9;
    box-shadow: 3px 3px 3px #000000;
}

.bookmark-url-listing:hover {
    background: #888888;
}

.bookmark-url-listing:not(:first-child) {
    margin-top: 2%;
}

.bookmark-url-listing-title {
    font-size: 2.0rem;
    font-weight: 340;
    color: #000000;
}

.bookmark-url-listing-title:hover {
    transition: color 0.2s;
    color: #FFFFFF;
    cursor: pointer;
}